<html>
  <head>
    <title><%= title%></title>
  </head>
  <body>
    <div id="react"><%- html%></div>
    <script>$data = function(){return<%- data%>};</script>
    <script type="text/javascript" src="/build/browser.js"></script>
  </body>
</html>
