<html>
  <head>
    <title><%= title%></title>
  </head>
  <body>
    <%- html%>
    <script>$data = function(){return<%- data%>};</script>
    <script type="text/javascript" src="http://localhost:4000/build/browser.js"></script>
  </body>
</html>
